
<h3> In this website there will be a few examples showing what the basic website is like. Keep in mind that as a programmer you have the ability to customize your website to your liking. This meens that even when working under someone else your work can reflect your personal image through style and neatness. </h3>

<p>  For example I can make this the most video based website a David could ask for. </p>

<iframe width="420" height="315" src="http://www.youtube.com/embed/OTSW4M28XQg" frameborder="0" allowfullscreen></iframe>

<iframe width="420" height="315" src="http://www.youtube.com/embed/IbcZmaus6g0" frameborder="0" allowfullscreen></iframe>

<p> For more examples check out the links in the top right of the page!</p>
